@import "tailwindcss";
@import url('https://fonts.googleapis.com/css2?family=Ephesis&family=Handjet:wght@100..900&display=swap');

@theme {
    --color-primary:#E83667;
    --color-primaryDark:#BB2C51;
    --color-secondary:#21D4B9;
    --color-dark:#303030;
    --font-inter:["Inter","sans-serif"];
    --font-cursive:["Ephesis"];
    --container-center:true;
    --container-padding-default: 1rem;
    --container-padding-sm: 2rem;
    --container-padding-lg: 4rem;
    --container-padding-xl: 5rem;
    
  }
  .f1{
    font-family: "Ephesis", cursive;
  }
  .f2{
    font-family: "Pacifico", cursive;  }

    .ff1{
        margin-left: 60px;
    }
    .ff2{
        margin: 20px;
    }
.div1{
    position: absolute;
    display: flex;
    align-items: center;
    justify-content: center;
    padding-top: 10px;
    margin-top: 10px;
}
.a1{
    display: flex;
    align-items: center;
    justify-content: center;
    margin-left: 110px;
}
.a2{
    margin-left: 0px;
}
.img1{
    width: 600px;
    height: 600px;
    margin-right: 500px;
}
@media (min-width: 640px) { /* sm breakpoint */
    .img2 {
        width: 200px;
        height: 200px;
    }
}
.btn{
    width: 200px;
}

/* @media (min-width: 640px) {
    .btn{
        position: relative;
        
        
        color: blueviolet;
    }
} */


.btn2{
    padding-inline: 0px;
}
