name: Deploy to AWS EC2

on:
  push:
    branches:
      - main

jobs:
  deploy:
    runs-on: ubuntu-latest

    steps:
    - name: Checkout code
      uses: actions/checkout@v3

    - name: Debug EC2_HOST
      run: |
        if [ -z "${{ secrets.EC2_HOST }}" ]; then
          echo "EC2_HOST is EMPTY"
          exit 1
        else
          echo "EC2_HOST is SET"
        fi

    - name: Deploy to EC2
      uses: appleboy/ssh-action@v1
      with:
        host: ${{ secrets.EC2_HOST }}
        username: ${{ secrets.EC2_USER }}
        key: ${{ secrets.EC2_KEY }}
        timeout: 300s
        command_timeout: 300s
        script: |
          if [ ! -d "$HOME/restaurant-app" ]; then
            git clone https://github.com/Kavishka15055/Good-Food-Wbe-site.git $HOME/restaurant-app
          fi
          cd $HOME/restaurant-app
          git pull
          docker-compose down
          docker-compose up -d --build
